@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&display=swap");
.bg-button-wrapper {
  max-width: 320px;
  position: relative;
}
.bg-button-wrapper .bg-button-helper {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: -moz-linear-gradient(left, #5287FC 1.77%, #DD5DFC 87.57%);
  background: -webkit-linear-gradient(left, #5287FC 1.77%, #DD5DFC 87.57%);
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  z-index: 0;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  border-radius: 44px;
}

.btn {
  position: relative;
  color: #ea1b52;
  font-size: 24px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 10px 15px;
  line-height: 1.67;
  max-width: 320px;
  width: 100%;
  display: inline-block;
  z-index: 2;
  background: #fff;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  border-radius: 44px;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.btn span {
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.btn:hover {
  background: -moz-linear-gradient(left, #5287FC 1.77%, #DD5DFC 87.57%);
  background: -webkit-linear-gradient(left, #5287FC 1.77%, #DD5DFC 87.57%);
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
}
.btn:hover span {
  color: #fff;
  background: linear-gradient(237.62deg, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #000000;
  line-height: 1.052;
  margin-bottom: 10px;
  font-size: 40px;
}
.section-title.title-w {
  color: #ffffff;
}

.item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #000000;
  line-height: 1.052;
  margin-bottom: 10px;
  font-size: 30px;
}

.item-primary-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  line-height: 1.052;
  margin-bottom: 10px;
  font-size: 24px;
}

.item-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.border-right-none {
  border-right: none !important;
}

.border-top {
  border-top: 1px solid;
}

.border-right {
  border-right: 1px solid;
}

.application-design-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 160px 0 40px;
  margin-bottom: 127px;
}
.application-design-wrap .application-design {
  width: 48%;
}
.application-design-wrap .application-design h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 20px;
}
.application-design-wrap .application-design h1 br {
  display: none;
}
.application-design-wrap .application-design p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 33px;
}
.application-design-wrap .application-design-image {
  width: 58%;
  margin-right: -40px;
  margin-top: -12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.application-design-wrap .design-image-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
}
.application-design-wrap .design-image-wrap img {
  width: 100%;
  vertical-align: bottom;
}
.application-design-wrap .design-image-1 {
  right: 0;
  width: 247px;
}
.application-design-wrap .design-image-2 {
  right: 160px;
  width: 165px;
  top: 23px;
}
.application-design-wrap .design-image-3 {
  right: 278px;
  width: 165px;
  top: 22px;
}
.application-design-wrap .design-image-4 {
  right: 396px;
  width: 165px;
  top: 21px;
}
.application-design-wrap .design-image-5 {
  right: 493px;
  width: 232px;
  top: -7px;
}
.application-design-wrap .design-image-6 {
  right: 589px;
  width: 151px;
  top: -8px;
  z-index: 3;
}

.what-do-you-get-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.what-do-you-get-section .what-do-you-get-item {
  width: 25%;
  padding: 15px 20px;
  min-height: 184px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-position: 90% bottom;
  background-repeat: no-repeat;
}
.what-do-you-get-section .what-do-you-get-item:nth-child(4n+4) {
  border-right: none;
}
.what-do-you-get-section .what-do-you-get-item .section-title {
  line-height: 1.2;
  color: #000000;
}
.what-do-you-get-section .what-do-you-get-item .item-text {
  line-height: 1.33;
  color: #000000;
}
.what-do-you-get-section .item-app-bg {
  background-image: url("../images/app-bg.svg");
}
.what-do-you-get-section .item-color-bg {
  background-image: url("../images/color-bg.svg");
}
.what-do-you-get-section .item-support-bg {
  background-image: url("../images/support-bg.svg");
}
.what-do-you-get-section .what-do-you-get-link {
  background: rgba(0, 0, 0, 0.05);
  padding: 8px 15px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  color: #000000;
  font-size: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  color: #000000;
  -webkit-transition: all, 0.15s;
  -moz-transition: all, 0.15s;
  -ms-transition: all, 0.15s;
  -o-transition: all, 0.15s;
  transition: all, 0.15s;
}
.what-do-you-get-section .what-do-you-get-link:focus, .what-do-you-get-section .what-do-you-get-link:visited {
  color: #000000;
}
.what-do-you-get-section .what-do-you-get-link:hover {
  background-color: #000000;
  color: white;
}

.applications-info-section {
  padding: 115px 0 66px;
  background: radial-gradient(33.61% 118.78% at 4.37% 51.7%, #DD5DFC 0%, rgba(192, 34, 249, 0) 100%), linear-gradient(254.7deg, #DD5DFC 5.62%, #7252FC 74.01%);
  background-blend-mode: lighten, normal;
}
.applications-info-section .applications-slider .application-slide-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 9px 15px 9px 10px;
  margin: 0 30px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.applications-info-section .applications-slider .application-slide-wrap img {
  border-radius: 10px;
  vertical-align: bottom;
  max-width: 46px;
  max-height: 46px;
  width: 100%;
  height: 100%;
}
.applications-info-section .applications-slider .application-slide-wrap:hover {
  border-color: #FFFFFF;
}
.applications-info-section .applications-slider .slick-active .application-slide-wrap {
  background: rgba(255, 255, 255, 0.2);
}
.applications-info-section .application-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 10px;
}
.applications-info-section .applications-content-wrap {
  margin: 70px 0 100px;
}
.applications-info-section .iphone-content-wrap .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 559px;
}
.applications-info-section .iphone-content-wrap .slick-arrow {
  top: initial;
  bottom: -50px;
  width: 40px;
  height: 40px;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.applications-info-section .iphone-content-wrap .slick-arrow:before {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.applications-info-section .iphone-content-wrap .slick-disabled {
  cursor: auto;
}
.applications-info-section .iphone-content-wrap .slick-disabled:before {
  opacity: 0.2;
}
.applications-info-section .iphone-content-wrap .slick-prev {
  left: 25px;
}
.applications-info-section .iphone-content-wrap .slick-prev:before {
  background-image: url("../images/arrow.svg");
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.applications-info-section .iphone-content-wrap .slick-next {
  right: 25px;
}
.applications-info-section .iphone-content-wrap .slick-next:before {
  background-image: url("../images/arrow.svg");
}
.applications-info-section .application-company-info {
  height: 100%;
}
.applications-info-section .application-info-wrap {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.applications-info-section .application-info-wrap .section-title {
  color: #ffffff;
}
.applications-info-section .item-text {
  color: #ffffff;
}
.applications-info-section .iphone-content-body {
  flex-grow: 1;
  overflow: auto;
}
.applications-info-section .iphone-content-body::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.applications-info-section .iphone-content-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
}

.applications-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.applications-content-wrap .left-menu-wrap {
  flex-grow: 1;
  max-width: 400px;
}
.applications-content-wrap .application-info-link {
  max-width: 290px;
  display: inline-block;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
.applications-content-wrap .application-info-link:hover {
  text-decoration-color: white;
}
.applications-content-wrap .center-menu-wrap {
  width: 527px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 10px;
}
.applications-content-wrap .center-menu-wrap .iphone-wrap {
  height: 782px;
  box-sizing: border-box;
  padding: 80px 105px 143px 109px;
  background-image: url("../images/iphone-bg.png");
  background-repeat: no-repeat;
}
.applications-content-wrap .center-menu-wrap .iphone-content {
  display: none;
}
.applications-content-wrap .right-menu-wrap {
  flex-grow: 1;
  max-width: 340px;
}
.applications-content-wrap .right-menu-wrap .item-title {
  color: #ffffff;
}

.applications-info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.applications-info-wrap .applications-info-item {
  width: 33.33%;
  padding: 19px 20px 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.applications-info-wrap .applications-info-item:first-child {
  padding-left: 0;
}
.applications-info-wrap .item-title {
  color: #ffffff;
  font-weight: 400;
}
.applications-info-wrap .item-text {
  color: #ffffff;
}

.mobile-shop-section {
  margin: 84px auto 93px;
}
.mobile-shop-section .section-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  line-height: 1.4;
  margin-bottom: 87px;
}
.mobile-shop-section .section-title br {
  display: none;
}
.mobile-shop-section .section-title img {
  flex-shrink: 0;
  vertical-align: bottom;
  margin-left: 15px;
  margin-right: 39px;
}
.mobile-shop-section .border-top {
  border-color: rgba(0, 0, 0, 0.1);
}
.mobile-shop-section .border-right {
  border-color: rgba(0, 0, 0, 0.1);
}
.mobile-shop-section .mobile-shop-info-item {
  width: 25%;
  padding: 20px;
}
.mobile-shop-section .mobile-shop-info-item:first-child {
  padding-left: 0;
}
.mobile-shop-section .mobile-shop-info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.loyalty-program-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 81px;
}
.loyalty-program-section .left-column {
  max-width: 372px;
}
.loyalty-program-section .left-column .item-primary-title {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 21px;
}
.loyalty-program-section .left-column .item-primary-title span {
  font-size: 87px;
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  transform: skew(0deg, -26deg);
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
.loyalty-program-section .left-column .item-text {
  font-size: 20px;
}
.loyalty-program-section .center-column {
  flex-shrink: 0;
  margin: 0 123px 0 100px;
}
.loyalty-program-section .right-column {
  padding-right: 70px;
}
.loyalty-program-section .right-column .item-text {
  line-height: 1.33;
}
.loyalty-program-section .loyalty-program-items {
  margin-top: 87px;
}
.loyalty-program-section .loyalty-program-item {
  margin-bottom: 25px;
}
.loyalty-program-section .loyalty-program-item:last-child {
  margin-bottom: 0;
}

.packages-and-prices-section {
  padding: 63px 0 100px;
  background: radial-gradient(33.61% 118.78% at 4.37% 51.7%, #DD5DFC 0%, rgba(192, 34, 249, 0) 100%), linear-gradient(254.7deg, #DD5DFC 5.62%, #7252FC 74.01%);
  background-blend-mode: lighten, normal;
}
.packages-and-prices-section .section-title {
  margin: 0 0 56px;
}
.packages-and-prices-section .packages-and-prices-text {
  max-width: 946px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  margin: 45px 0 109px;
}

.packages-and-prices-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.packages-and-prices-items .packages-and-prices-item {
  width: 25%;
  padding: 0 10px;
}
.packages-and-prices-items .packages-and-prices-item-helper {
  padding: 20px 35px 20px 20px;
  background-color: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.packages-and-prices-items .packages-and-prices-item-helper:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  right: -10px;
  bottom: 10px;
  z-index: 0;
  border: 1px solid #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.packages-and-prices-items .packages-and-prices-info {
  flex-grow: 1;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
.packages-and-prices-items .packages-and-prices-info .item-title {
  font-weight: 400;
}
.packages-and-prices-items .prices-wrap {
  position: relative;
  z-index: 1;
}
.packages-and-prices-items .prices-wrap .price {
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3px;
}
.packages-and-prices-items .link-to-buy {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.packages-and-prices-items .item-text span {
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.packages-and-prices-items .marketplace-link {
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 0.5px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.packages-and-prices-items .marketplace-link img {
  margin-left: 5px;
  vertical-align: bottom;
}

.contact-form-section {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 50px 77px 66px 35px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.contact-form-section:after {
  content: "";
  position: absolute;
  bottom: -26px;
  left: -1px;
  width: 133px;
  height: 167px;
  background-image: url("../images/bg-cat.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-form-section .contact-form-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.35;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2px;
}
.contact-form-section .contact-phone-form-wrap .contact-tell {
  display: block;
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.35;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.contact-form-section .contact-phone-form-wrap .contact-form-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
  font-family: "Montserrat", sans-serif;
}
.contact-form-section .contact-write-form-wrap {
  max-width: 581px;
  width: 100%;
  font-size: 18px;
}
.contact-form-section .contact-write-form-wrap .contact-form-title {
  margin-bottom: 17px;
}
.contact-form-section .contact-write-form-wrap input {
  width: 100%;
  color: #FFFFFF;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  margin-bottom: 40px;
  padding-bottom: 6px;
}
.contact-form-section .contact-write-form-wrap input.placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact-form-section .contact-write-form-wrap input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact-form-section .contact-write-form-wrap input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact-form-section .contact-write-form-wrap input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.contact-form-section .contact-write-form-wrap input:invalid, .contact-form-section .contact-write-form-wrap input.error {
  color: red;
  border-bottom-color: red;
}
.contact-form-section .contact-write-form-wrap input[type=email] {
  margin-bottom: 28px;
}
.contact-form-section .contact-write-form-wrap input:focus {
  border-bottom-color: white;
}
.contact-form-section .contact-form-btn {
  height: 50px;
  width: 200px;
  outline: none;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  border-radius: 29px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form-section .contact-form-btn span {
  color: #ffffff;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.contact-form-section .contact-form-btn:hover {
  background: #ffffff;
}
.contact-form-section .contact-form-btn:hover span {
  background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1200px) {
  .application-design-wrap.content {
    width: calc(100% - 30px);
    margin-right: 0;
  }
  .application-design-wrap .application-design {
    width: 60%;
  }
  .application-design-wrap .application-design-image {
    width: 40%;
  }

  .applications-info-section .iphone-content-wrap .slick-slide {
    height: 447px;
  }

  .applications-content-wrap .center-menu-wrap {
    width: 426px;
    margin: 0;
  }
  .applications-content-wrap .center-menu-wrap .iphone-wrap {
    height: 635px;
    padding: 46px 86px 143px 90px;
    background-size: cover;
  }

  .what-do-you-get-section .what-do-you-get-item {
    width: 33.333%;
  }
  .what-do-you-get-section .what-do-you-get-item:nth-child(4n+4) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .what-do-you-get-section .what-do-you-get-item:nth-child(3n+3) {
    border-right: none;
  }

  .mobile-shop-section .mobile-shop-info-wrap {
    flex-wrap: wrap;
  }
  .mobile-shop-section .mobile-shop-info-item {
    width: 50%;
  }
  .mobile-shop-section .mobile-shop-info-item:nth-child(2).border-right {
    border-right: none;
  }
  .mobile-shop-section .mobile-shop-info-item:nth-child(odd) {
    padding-left: 0;
  }

  .loyalty-program-section .center-column {
    flex-shrink: 0;
    margin: 0 15px 0 10px;
  }

  .packages-and-prices-items {
    flex-wrap: wrap;
  }
  .packages-and-prices-items .packages-and-prices-item {
    width: 50%;
    margin-bottom: 20px;
  }

  .packages-and-prices-section .packages-and-prices-text {
    max-width: 825px;
  }

  .contact-form-section {
    padding: 50px 35px 60px;
  }
  .contact-form-section .contact-write-form-wrap {
    max-width: 410px;
  }
}
@media screen and (max-width: 960px) {
  .bg-button-wrapper {
    max-width: 280px;
  }

  .btn {
    font-size: 20px;
  }

  .section-title {
    font-size: 30px;
  }

  .item-title {
    font-size: 26px;
  }

  .item-text {
    font-size: 16px;
  }

  .item-primary-title {
    font-size: 22px;
  }

  .application-design-wrap {
    padding: 20px 0 30px;
    flex-direction: column;
  }
  .application-design-wrap .application-design {
    width: 47%;
  }
  .application-design-wrap .application-design h1 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  .application-design-wrap .application-design h1 br {
    display: block;
  }
  .application-design-wrap .application-design p {
    font-size: 18px;
    margin-bottom: 13px;
  }
  .application-design-wrap .application-design-image {
    width: 100%;
    min-height: 500px;
  }

  .what-do-you-get-section .what-do-you-get-item {
    width: 50%;
  }
  .what-do-you-get-section .what-do-you-get-item:nth-child(odd) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .what-do-you-get-section .what-do-you-get-item:nth-child(even) {
    border-right: none;
  }

  .applications-content-wrap {
    flex-wrap: wrap;
    margin: 35px 0 75px;
  }
  .applications-content-wrap .left-menu-wrap {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .applications-content-wrap .left-menu-wrap .application-info-content {
    width: 45%;
    padding: 0 39px 0 0;
  }
  .applications-content-wrap .application-info-wrap {
    flex-direction: row;
  }

  .applications-info-wrap .item-title {
    font-size: 26px;
  }

  .mobile-shop-section .section-title {
    margin-right: -41px;
  }
  .mobile-shop-section .section-title img {
    margin-left: 15px;
  }

  .loyalty-program-section {
    flex-wrap: wrap;
  }
  .loyalty-program-section .left-column {
    width: 50%;
  }
  .loyalty-program-section .left-column .item-primary-title {
    font-size: 30px;
  }
  .loyalty-program-section .left-column .item-text {
    font-size: 18px;
  }
  .loyalty-program-section .center-column {
    width: 50%;
    margin: 0;
    padding-left: 20px;
  }
  .loyalty-program-section .right-column {
    margin: 0 -7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .loyalty-program-section .right-column .loyalty-program-item {
    width: 33.33%;
    padding: 0 7px;
  }

  .packages-and-prices-section {
    padding: 60px 0 100px;
  }
  .packages-and-prices-section .section-title {
    margin: 0 0 40px;
  }
  .packages-and-prices-section .packages-and-prices-text {
    max-width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin: 34px 0 60px;
  }

  .packages-and-prices-items .prices-wrap .price {
    font-size: 36px;
  }
  .packages-and-prices-items .link-to-buy {
    font-size: 16px;
  }

  .contact-form-section {
    padding: 35px 50px 65px;
    flex-direction: column;
  }
  .contact-form-section:after {
    display: none;
  }
  .contact-form-section .contact-phone-form-wrap {
    margin-bottom: 28px;
  }
  .contact-form-section .contact-phone-form-wrap .contact-tell {
    font-size: 30px;
  }
  .contact-form-section .contact-write-form-wrap {
    max-width: 100%;
  }
  .contact-form-section .contact-form-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .section-title {
    font-size: 26px;
  }

  .item-text {
    font-size: 18px;
  }

  .application-design-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 20px 0 35px;
  }
  .application-design-wrap.content {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .application-design-wrap .application-design {
    width: 100%;
    margin-bottom: 26px;
  }
  .application-design-wrap .application-design-image {
    width: auto;
    margin: 0 -26px;
  }

  .what-do-you-get-section {
    flex-wrap: wrap;
  }
  .what-do-you-get-section .what-do-you-get-item {
    width: 100%;
    min-height: 155px;
    padding: 15px 0;
    border-right: none;
    background-position: 100% bottom;
  }
  .what-do-you-get-section .what-do-you-get-item:nth-child(odd) {
    border-right: none;
  }
  .what-do-you-get-section .what-do-you-get-item:last-child {
    padding-bottom: 0;
  }
  .what-do-you-get-section .section-title br {
    display: none;
  }
  .what-do-you-get-section .item-app-bg {
    background-size: 61% auto;
  }
  .what-do-you-get-section .item-color-bg {
    background-size: 51% auto;
  }
  .what-do-you-get-section .item-support-bg {
    background-size: 59% auto;
  }

  .applications-info-section {
    padding: 73px 0 2px;
  }
  .applications-info-section .iphone-content-wrap .slick-slide {
    height: 464px;
  }

  .applications-content-wrap .left-menu-wrap {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .applications-content-wrap .left-menu-wrap .application-info-content {
    width: 100%;
    padding: 0 15px 0 0;
  }
  .applications-content-wrap .center-menu-wrap {
    width: 436px;
    margin: 0 0 0 -40px;
  }
  .applications-content-wrap .center-menu-wrap .iphone-wrap {
    height: 649px;
    padding: 50px 86px 150px 90px;
  }
  .applications-content-wrap .application-info-wrap {
    flex-direction: column;
  }

  .applications-info-wrap {
    flex-wrap: wrap;
  }
  .applications-info-wrap .applications-info-item {
    width: 100%;
    border-right: none;
    padding: 10px 0 30px;
  }

  .mobile-shop-section {
    margin-top: 40px;
    margin-bottom: 53px;
  }
  .mobile-shop-section .section-title {
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.4;
    margin-bottom: 47px;
  }
  .mobile-shop-section .section-title br {
    display: block;
  }
  .mobile-shop-section .section-title img {
    margin: -21px auto 0;
    max-width: 160px;
    width: 100%;
  }
  .mobile-shop-section .mobile-shop-info-item {
    width: 100%;
    padding: 12px 20px 28px 0;
  }
  .mobile-shop-section .mobile-shop-info-item:nth-child(odd) {
    border-right: none;
  }

  .loyalty-program-section {
    margin-bottom: 60px;
  }
  .loyalty-program-section .left-column {
    width: 100%;
  }
  .loyalty-program-section .left-column .item-primary-title {
    margin-bottom: 13px;
  }
  .loyalty-program-section .center-column {
    width: 78%;
    margin: 0 auto;
    padding-left: 0;
  }
  .loyalty-program-section .right-column {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .loyalty-program-section .right-column .loyalty-program-item {
    width: 100%;
    padding: 0;
  }
  .loyalty-program-section .loyalty-program-items {
    margin-top: 0;
  }
  .loyalty-program-section .loyalty-program-item {
    margin-bottom: 13px;
  }

  .packages-and-prices-section {
    padding: 55px 0 100px;
  }
  .packages-and-prices-section .section-title {
    margin: 0 0 37px;
  }
  .packages-and-prices-section .packages-and-prices-text {
    margin: 12px 0 50px;
  }

  .packages-and-prices-items .packages-and-prices-item {
    width: 100%;
  }
  .packages-and-prices-items .packages-and-prices-item .item-text {
    font-size: 16px;
  }
  .packages-and-prices-items .packages-and-prices-item-helper {
    padding: 20px 10px 20px 18px;
  }

  .contact-form-section {
    padding: 30px 20px 65px;
    flex-direction: column;
    margin: 0 -20px;
  }
}

/*# sourceMappingURL=target-audience.css.map */
