@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@400;700&display=swap');

.bg-button-wrapper {
    max-width: 320px;
    position: relative;
    .bg-button-helper {
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background: -moz-linear-gradient(left,#5287FC 1.77%, #DD5DFC 87.57%);
        background: -webkit-linear-gradient(left,#5287FC 1.77%, #DD5DFC 87.57%);
        background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
        z-index: 0;
        @include border-radius(44px);
    }
}

.btn {
    position: relative;
    color: #ea1b52;
    font-size: 24px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 400;
    padding: 10px 15px;
    line-height: 1.67;
    max-width: 320px;
    width: 100%;
    display: inline-block;
    z-index: 2;
    background: #fff;
    height: 60px;
    @include flexbox-center;
    text-decoration-line: none;
    @include border-radius(44px);
    @include transition(all .15s);
    
    span {
        background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    
    &:hover {
        background: -moz-linear-gradient(left,#5287FC 1.77%, #DD5DFC 87.57%);
        background: -webkit-linear-gradient(left,#5287FC 1.77%, #DD5DFC 87.57%);
        background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
        span {
            color: #fff;
            background: linear-gradient(237.62deg, #fff, #fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.section-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #000000;
    line-height: 1.052;
    margin-bottom: 10px;
    font-size: 40px;
    &.title-w {
        color: #ffffff;
    }
}
.item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #000000;
    line-height: 1.052;
    margin-bottom: 10px;
    font-size: 30px;
}
.item-primary-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000000;
    line-height: 1.052;
    margin-bottom: 10px;
    font-size: 24px;
}
.item-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
}
.border-right-none {
    border-right: none!important;
}
.border-top {
    border-top: 1px solid;
}
.border-right {
    border-right: 1px solid;
}


.application-design-wrap {
    @include flexbox;
    padding: 160px 0 40px;
    margin-bottom: 127px;
    .application-design {
        width: 48%;
        
        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            font-size: 60px;
            margin-bottom: 20px;
            br {
                display: none;
            }
        }
        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.5;
            color: #000000;
            margin-bottom: 33px;
        }
    }
    .application-design-image {
        width: 58%;
        margin-right: -40px;
        margin-top: -12px;
        
        @include flexbox;
        position: relative;
        
        &.animate {
            .design-image-2 {
                animation: gum-2 1s;
            }
            .design-image-3 {
                animation: gum-3 1s;
            }
            .design-image-4 {
                animation: gum-4 1s;
            }
            .design-image-5 {
                animation: gum-5 1s;
            }
            .design-image-6 {
                animation: gum-6 1s;
                z-index: 3;
            }
        }
        
    }
    
    .design-image-wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        img {
            width: 100%;
            vertical-align: bottom;
        }
    }
    .design-image-1 {
        right: 0;
        width: 32.25%;
    }
    .design-image-2 {
        width: 21.5%;
        top: 23px;
        //right: 22%;
        right: 10%;
    }
    .design-image-3 {
        width: 21.5%;
        top: 22px;
        //right: 37%;
        right: 12%;
    }
    .design-image-4 {
        width: 21.5%;
        top: 21px;
        //right: 53%;
        right: 14%;
    }
    .design-image-5 {
        width: 30.28%;
        top: -7px;
        //right: 65%;
        right: 14%;
    }
    .design-image-6 {
        width: 19.7%;
        top: -8px;
        //right: 78%;
        right: 5%;
    }
    
    .animate {
        .design-image-2 {
            right: 22%;
        }
        .design-image-3 {
            right: 37%;
        }
        .design-image-4 {
            right: 53%;
        }
        .design-image-5 {
            right: 65%;
        }
        .design-image-6 {
            right: 78%;
        }
    }
    
    @keyframes gum-2 {
        from {right: 10%;}
        75% {right: 26%;}
        to {right: 22%;}
    }
    @keyframes gum-3 {
        from {right: 12%;}
        75% {right: 42%;}
        to {right: 37%;}
    }
    @keyframes gum-4 {
        from {right: 14%;}
        75% {right: 57%;}
        to {right: 53%;}
    }
    @keyframes gum-5 {
        from {right: 14%;}
        75% {right: 69%;}
        to {right: 65%;}
    }
    @keyframes gum-6 {
        from {right: 5%;}
        75% {right: 82%;}
        to {right: 78%;}
    }
}

.what-do-you-get-section {
    @include flexbox;
    flex-wrap: wrap;
    
    .what-do-you-get-item {
        width: 25%;
        padding: 15px 20px;
        min-height: 184px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-right: 1px solid rgba(0,0,0,0.1);
        
        background-position: 90% bottom;
        background-repeat: no-repeat;
        
        &:nth-child(4n+4) {
            border-right: none;
        }
        
        .section-title {
            line-height: 1.2;
            color: #000000;
        }
        .item-text {
            line-height: 1.33;
            color: #000000;
        }
    }
    
    .item-app-bg {
        background-image: url("../images/app-bg.svg");
    }
    .item-color-bg {
        background-image: url("../images/color-bg.svg");
    }
    .item-support-bg {
        background-image: url("../images/support-bg.svg");
    }
    
    .what-do-you-get-link {
        background: rgb(0, 0, 0, 0.05);
        padding: 8px 15px;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        color: #000000;
        font-size: 18px;
        border: none;
        cursor: pointer;
        @include border-radius(30px);
        @include color-link(#000000, #000000, 100%);
    }
}

.applications-info-section {
    padding: 115px 0 66px;
    background: radial-gradient(33.61% 118.78% at 4.37% 51.7%, #DD5DFC 0%, rgba(192, 34, 249, 0) 100%), linear-gradient(254.7deg, #DD5DFC 5.62%, #7252FC 74.01%);
    background-blend-mode: lighten, normal;
    
    .applications-slider {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50px;
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #d85dfd 100%);
            z-index: 10;
        }
        .application-slide-wrap {
            @include flexbox;
            align-items: center;
            padding: 9px 15px 9px 10px;
            margin: 0 30px 0 0;
            border: 1px solid rgb(255, 255, 255, 0.2);
            border-radius: 16px;
            cursor: pointer;
            @include transition(all .2s);
            img {
                border-radius: 10px;
                vertical-align: bottom;
                max-width: 46px;
                max-height: 46px;
                width: 100%;
                height: 100%;
            }
            &:hover {
                border-color: #FFFFFF;
            }
        }
        
        .slick-active {
            .application-slide-wrap {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
    .application-name {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #FFFFFF;
        margin-left: 10px;
    }
    .applications-content-wrap {
        margin: 70px 0 100px;
    }
    .application-content {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 6px;
            left: 50%;
            height: 5px;
            width: 112px;
            border-radius: 10px;
            background: rgba(0,0,0,0.5);
            z-index: 2;
            @include transform(translate(-50%,0));
        }
    }
    .iphone-content-wrap {
        .slick-slide {
            @include flexbox;
            flex-direction: column;
            height: 674px;
            overflow: hidden;
            
        }
        .slick-list {
            @include border-radius(32px);
        }
        .slick-arrow {
            top: -27px;
            width: 55px;
            height: 55px;
            @include transform(translate(0, 0));
            
            &:before {
                content: '';
                width: 55px;
                height: 55px;
                display: inline-block;
                opacity: 1;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            
            &:hover {
                opacity: 0.75;
            }
        }
        .slick-disabled {
            cursor: auto;
            &:before {opacity: .2}
        }
        .slick-prev {
            left: calc(100% + 128px);
            &:before {
                background-image: url("../images/arrow.svg");
                @include transform(rotate(180deg));
            }
        }
        .slick-next {
            left: calc(100% + 218px);
            &:before {
                background-image: url("../images/arrow.svg");
            }
            
            &.animated {
                animation: animate 2s;
    
                @keyframes animate {
                    from {left: calc(100% + 230px);}
                    25% {left: calc(100% + 218px);}
                    50% {left: calc(100% + 230px);}
                    to {left: calc(100% + 218px);}
                }
            }
        }
    }
    
    .application-company-info {
        height: 100%;
    }
    .application-info-wrap {
        height: 100%;
        @include flexbox;
        flex-direction: column;
        justify-content: space-between;
        
        .section-title {
            color: #ffffff;
        }
    }
    .item-text {
        color: #ffffff;
    }
    
    .iphone-content-body {
        flex-grow: 1;
        overflow: auto;
        @include scrollbar {
            width: 3px;
            background-color: #ffffff;
        }
        @include scrollbar-track {
        
        }
        @include scrollbar-thumb {
            background-color: rgba(0,0,0,0.5);
        }
    }
    
}
.applications-content-wrap {
    @include flexbox;
    .left-menu-wrap {
        flex-grow: 1;
        max-width: 400px;
    }
    
    .application-info-content {
        &.desktop {
            display: block;
            margin-bottom: 73px;
        }
        &.mobile {
            display: none;
        }
    }
    .application-info-link {
        max-width: 290px;
        display: inline-block;
        text-decoration-color: rgba(255,255,255,0.2);
        color: #ffffff;
        font-size: 24px;
        line-height: 1.5;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        &:hover {
            text-decoration-color: rgba(255,255,255,1);
        }
    }
    .center-menu-wrap {
        width: 520px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 15px 27px 0 10px;
        .iphone-wrap {
            height: 778px;
            box-sizing: border-box;
            padding: 14px 102px 90px 107px;
            background-image: url("../images/iphone-bg.png");
            background-repeat: no-repeat;
        }
        
        .iphone-content {
            display: none;
        }
        
    }
    .right-menu-wrap {
        flex-grow: 1;
        max-width: 340px;
        padding-top: 68px;
        .item-title {
            color: #ffffff;
        }
        
        .item-content {
            a {
                display: inline-block;
                transition: background-color 0.2s;
                max-width: 250px;
                margin: 15px 0 10px;
                @include border-radius(8px);
                
                img {
                    width: 100%;
                    vertical-align: bottom;
                }
                
                &:hover {
                    background-color: #ffffff;
                }
            }
        }
    }
}
.applications-info-wrap {
    @include flexbox;
    .applications-info-item {
        width: 33.33%;
        padding: 19px 20px 32px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-right: 1px solid rgba(255,255,255,0.3);
        
        &:first-child {
            padding-left: 0;
        }
    }
    .item-title {
        color: #ffffff;
        font-weight: 400;
    }
    .item-text {
        color: #ffffff;
    }
}

.mobile-shop-section {
    margin: 84px auto 93px;
    .section-title {
        @include flexbox;
        align-items: center;
        line-height: 1.4;
        margin-bottom: 87px;
        br {
            display: none;
        }
        img {
            flex-shrink: 0;
            vertical-align: bottom;
            margin-left: 15px;
            margin-right: 39px;
        }
    }
    .border-top {
        border-color: rgba(0,0,0,0.1);
    }
    .border-right {
        border-color: rgba(0,0,0,0.1);
    }
    .mobile-shop-info-item {
        width: 25%;
        padding: 20px;
    
        &:first-child {
            padding-left: 0;
        }
    }
    
    .mobile-shop-info-wrap {
        @include flexbox;
    }
}

.loyalty-program-section {
    @include flexbox;
    //align-items: center;
    margin-bottom: 81px;
    .left-column {
        max-width: 372px;
        .item-primary-title {
            color: #000000;
            font-size: 40px;
            font-weight: 300;
            font-family: 'Montserrat', sans-serif;
            background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            margin-bottom: 21px;
            span {
                font-size: 87px;
                background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                transform: skew(0deg, -26deg);
                font-weight: 200;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .item-text {
            font-size: 20px;
        }
    }
    
    .center-column {
        flex-shrink: 0;
        margin: 0 123px 0 100px;
    }
    
    .right-column {
        padding-right: 70px;
        .item-text {
            line-height: 1.33;
        }
    }
    
    .loyalty-program-items {
        margin-top: 87px;
    }
    
    .loyalty-program-item {
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.packages-and-prices-section {
    padding: 63px 0 100px;
    background: radial-gradient(33.61% 118.78% at 4.37% 51.7%, #DD5DFC 0%, rgba(192, 34, 249, 0) 100%), linear-gradient(254.7deg, #DD5DFC 5.62%, #7252FC 74.01%);
    background-blend-mode: lighten, normal;
    
    .section-title {
        margin: 0 0 56px;
    }
    .packages-and-prices-text {
        max-width: 946px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        font-family: 'Noto Sans', sans-serif;
        margin: 45px 0 109px;
    }
}
.packages-and-prices-items {
    @include flexbox;
    margin: 0 -10px;
    .packages-and-prices-item {
        width: 25%;
        padding: 0 10px;
        
    }
    .packages-and-prices-item-helper {
        padding: 20px 35px 20px 20px;
        background-color: #FFFFFF;
        @include border-radius(10px);
        @include flexbox;
        flex-direction: column;
        position: relative;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 10px;
            right: -10px;
            bottom: 10px;
            z-index: 0;
            border: 1px solid #ffffff;
            @include border-radius(10px);
        }
    }
    .packages-and-prices-info {
        flex-grow: 1;
        margin-bottom: 60px;
        position: relative;
        z-index: 1;
        .item-title {
            font-weight: 400;
        }
    }
    .prices-wrap {
        position: relative;
        z-index: 1;
        .price {
            color: #000000;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.1;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 3px;
        }
    }
    .link-to-buy {
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.28;
        font-family: 'Montserrat', sans-serif;
        background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        @include transition(all 0.2s);
        
        &:hover {
            background: linear-gradient(237.62deg, #000000 100%, #000000 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    
    .item-text {
        a {
            background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            @include transition(all 0.2s);
            &:hover {
                background: linear-gradient(0deg, #000000 1.77%, #000000 87.57%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-decoration: underline;
            }
        }
    }
    .marketplace-link {
        margin-top: 15px;
        font-size: 18px;
        letter-spacing: 0.5px;
        @include inline-flex;
        align-items: center;
        background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition(all 0.2s);
        img {
            margin-left: 5px;
            vertical-align: bottom;
        }
        
        &:hover {
            background: linear-gradient(0deg, #000000 1.77%, #000000 87.57%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: underline;
        }
    }
}

.contact-form-section {
    background-color: rgba(0,0,0,0.2);
    padding: 50px 77px 66px 35px;
    position: relative;
    
    @include flexbox;
    align-items: flex-start;
    justify-content: space-between;
    &:after {
        content: '';
        position: absolute;
        bottom: -26px;
        left: -1px;
        width: 133px;
        height: 167px;
        background-image: url("../images/bg-cat.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .contact-form-title {
        color: #ffffff;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.35;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 2px;
    }
    
    .contact-phone-form-wrap {
        .contact-tell {
            display: block;
            color: #ffffff;
            font-size: 40px;
            font-weight: 300;
            line-height: 1.35;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
        }
        .contact-form-text {
            color: #ffffff;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.35;
            font-family: 'Montserrat', sans-serif;
        }
    }
    
    .contact-write-form-wrap {
        max-width: 581px;
        width: 100%;
        font-size: 18px;
        .contact-form-title {
            margin-bottom: 17px;
        }
        input {
            width: 100%;
            color: #FFFFFF;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            line-height: 1.1;
            font-size: 18px;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.5);
            background: transparent;
            margin-bottom: 40px;
            padding-bottom: 6px;
            @include placeholder {
                color: rgba(255,255,255,0.5);
            }
            &:invalid, &.error {
                color: red;
                border-bottom-color: red;
            }
            &[type="email"] {
                margin-bottom: 28px;
            }
            
            &:focus {
                border-bottom-color: rgba(255,255,255,1);
            }
            
        }
    }
    .contact-form-btn {
        height: 50px;
        width: 200px;
        outline: none;
        cursor: pointer;
        background: transparent;
        border: 1px solid #ffffff;
        @include flexbox-center;
        @include border-radius(29px);
        @include transition(all .2s);
        span {
            color: #ffffff;
            font-size: 24px;
            font-family: 'Noto Sans', sans-serif;
            font-weight: 400;
            line-height: 1.1;
            display: inline-block;
            @include transition(all .2s);
        }
        &:hover {
            background: #ffffff;
            span {
                background: linear-gradient(237.62deg, #5287FC 1.77%, #DD5DFC 87.57%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .applications-info-section {
        .iphone-content-wrap {
            .slick-slide {
                height: 552px;
            }
            .slick-list {
                @include border-radius(28px);
            }
        }
    }
    .applications-content-wrap {
        .center-menu-wrap {
            width: 426px;
            margin: 0 44px;
            .iphone-wrap {
                height: 630px;
                padding: 11px 85px 68px 87px;
                background-size: cover;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .application-design-wrap {
        &.content {
            width: calc(100% - 30px);
            margin-right: 0;
        }
    
        .application-design {
            h1 {
                font-size: 52px;
            }
        }
    }
    
    .applications-content-wrap {
        .left-menu-wrap {
            flex-grow: initial;
            max-width: initial;
            width: calc(100% - 426px - 28%);
        }
        .right-menu-wrap {
            max-width: initial;
            width: 28%;
        }
    }
    
    .what-do-you-get-section {
        .what-do-you-get-item {
            width: 33.333%;
            &:nth-child(4n+4) {
                border-right: 1px solid rgba(0,0,0,0.1);
            }
            &:nth-child(3n+3) {
                border-right: none;
            }
            
        }
    }
    .mobile-shop-section {
        .mobile-shop-info-wrap {
            flex-wrap: wrap;
        }
        .mobile-shop-info-item {
            width: 50%;
            &:nth-child(2) {
                &.border-right {
                    border-right: none;
                }
            }
            &:nth-child(odd) {
                padding-left: 0;
            }
        }
    }
    
    .loyalty-program-section {
        .center-column {
            flex-shrink: 0;
            margin: 0 15px 0 10px;
        }
    }
    .packages-and-prices-items {
        flex-wrap: wrap;
        .packages-and-prices-item {
            width: 50%;
            margin-bottom: 20px;
        }
    }
    .packages-and-prices-section {
        .packages-and-prices-text {
            max-width: 825px;
        }
    }
    .contact-form-section {
        padding: 50px 35px 60px;
        .contact-write-form-wrap {
            max-width: 410px;
        }
    }
}

@media screen and (max-width: 991px) {
    .bg-button-wrapper {
        max-width: 280px;
    }
    .btn {
        font-size: 20px;
    }
    .section-title {
        font-size: 30px;
    }
    .item-title {
        font-size: 26px;
    }
    .item-text {
        font-size: 16px;
    }
    .item-primary-title {
        font-size: 22px;
    }
    
    .application-design-wrap {
        padding: 100px 0 30px;
        flex-direction: column;
        margin-bottom: 50px;
        .application-design {
            width: 100%;
            h1 {
                font-size: 30px;
                margin-bottom: 7px;
                br {
                    display: block;
                }
            }
    
            p {
                font-size: 18px;
                margin-bottom: 13px;
            }
        }
        .application-design-image {
            width: 80%;
            min-height: 410px;
            margin: 0 0 0 auto;
        }
    }
    
    .what-do-you-get-section {
        .what-do-you-get-item {
            width: 50%;
            &:nth-child(odd) {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
            }
            &:nth-child(even) {
                border-right: none;
            }
        }
    }
    
    .applications-info-section {
        .applications-content-wrap {
            flex-wrap: wrap;
            margin: 35px 0 75px;
        }
        .application-info-wrap {
            flex-direction: row;
        }
        .iphone-content-wrap {
            .slick-slide {
                height: 460px;
            }
            .slick-prev {
                left: calc(100% + 91px);
            }
            .slick-next {
                left: calc(100% + 189px);
            }
        }
    }
    
    .applications-content-wrap {
        .left-menu-wrap {
            max-width: 100%;
            width: 100%;
            margin-bottom: 50px;
            .application-info-content {
                width: 45%;
                padding: 0 39px 0 0;
                
            }
        }
        .center-menu-wrap {
            width: 355px;
            margin: 0 20px 0 0;
            .iphone-wrap {
                height: 529px;
                padding: 9px 70px 62px 71px;
            }
        }
        
        .application-info-link {
            font-size: 20px;
            margin-top: -6px;
        }
    }
    
    
    .applications-info-wrap {
        .item-title {
            font-size: 26px;
        }
    }
    
    .mobile-shop-section {
        .section-title {
            margin-right: -41px;
            img {
                margin-left: 15px;
            }
        }
    }
    .loyalty-program-section {
        flex-wrap: wrap;
        .left-column {
            width: 50%;
            .item-primary-title {
                font-size: 30px;
            }
            .item-text {
                font-size: 18px;
            }
        }
        .center-column {
            width: 50%;
            margin: 0;
            padding-left: 20px;
        }
        .right-column {
            margin: 0 -7px;
            @include flexbox;
            .loyalty-program-item {
                width: 33.33%;
                padding: 0 7px;
            }
        }
    }
    
    .packages-and-prices-section {
        padding: 60px 0 100px;
        .section-title {
            margin: 0 0 40px;
        }
        .packages-and-prices-text {
            max-width: 100%;
            font-size: 20px;
            font-weight: 400;
            margin: 34px 0 60px;
        }
    }
    .packages-and-prices-items {
        .prices-wrap {
            .price {
                font-size: 36px;
            }
        }
    
        .link-to-buy {
            font-size: 16px;
        }
    }
    
    .contact-form-section {
        padding: 35px 50px 65px;
        flex-direction: column;
        
        &:after {
            display: none;
        }
        .contact-phone-form-wrap {
            margin-bottom: 28px;
            .contact-tell {
                font-size: 30px;
            }
        }
        
        .contact-write-form-wrap {
            max-width: 100%;
        }
        .contact-form-title {
            font-size: 30px;
        }
    }

}

@media screen and (max-width: 767px) {
    .section-title {
        font-size: 26px;
    }
    .item-text {
        font-size: 18px;
    }
    
    .application-design-wrap {
        @include flexbox;
        flex-direction: column;
        padding: 20px 0 35px;
        &.content {
            width: calc(100% - 40px);
            margin: 0 auto;
        }
    
        .application-design {
            width: 100%;
            margin-bottom: 26px;
        }
        .application-design-image {
            width: auto;
            margin: 0 -26px;
            //min-height: 280px;
        }
    }
    .what-do-you-get-section {
        flex-wrap: wrap;
        .what-do-you-get-item {
            width: 100%;
            min-height: 155px;
            padding: 15px 0;
            border-right: none;
            background-position: 100% bottom;
            &:nth-child(odd) {
                border-right: none;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        .section-title {
            br {
                display: none;
            }
        }
        .item-app-bg {
            background-size: 61% auto;
        }
        .item-color-bg {
            background-size: 51% auto;
        }
        .item-support-bg {
            background-size: 59% auto;
        }
    }
    .applications-info-section {
        padding: 73px 0 2px;
        .applications-slider {
            &:before {
                width: 20px;
            }
        }
        .iphone-content-wrap {
            .slick-slide {
                height: 455px;
            }
            .slick-list {
                @include border-radius(22px);
            }
            .slick-arrow {
                top: calc(100% + 38px);
            }
            .slick-prev {
                left: 31px;
            }
            .slick-next {
                left: initial;
                right: 33px;
            }
            
        }
        .application-name {
            font-size: 20px;
        }
        .application-content:before {
            height: 3px;
            width: 88px;
        }
    }
    .applications-content-wrap {
        .left-menu-wrap {
            max-width: 100%;
            margin-bottom: 35px;
            .application-info-content {
                width: 100%;
                padding: 0 15px 20px 0;
                
            }
        }
        .application-info-content {
           
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
                margin-bottom: 30px;
            }
        }
        .center-menu-wrap {
            width: 353px;
            margin: 0 0 0 -20px;
            .iphone-wrap {
                height: 526px;
                padding: 10px 71px 55px 72px;
            }
        }
    
        .right-menu-wrap {
            padding-top: 20px;
        }
        .application-info-wrap {
            flex-direction: column;
        }
    }
    
    
    .applications-info-wrap {
        flex-wrap: wrap;
        .applications-info-item {
            width: 100%;
            border-right: none;
            padding: 10px 0 30px;
        }
    }
    
    
    .mobile-shop-section {
        margin-top: 40px;
        margin-bottom: 53px;
        .section-title {
            margin-right: 0;
            flex-direction: column;
            align-items: flex-start;
            line-height: 1.4;
            margin-bottom: 47px;
            br {
                display: block;
            }
             img {
                 margin: -21px auto 0;
                 max-width: 160px;
                 width: 100%;
            }
        }
        .mobile-shop-info-item {
            width: 100%;
            padding: 12px 20px 28px 0;
            &:nth-child(odd) {
                border-right: none;
            }
        }
    }
    
    .loyalty-program-section {
        margin-bottom: 60px;
        .left-column {
            width: 100%;
            .item-primary-title {
                margin-bottom: 13px;
            }
        }
        .center-column {
            width: 78%;
            margin: 0 auto;
            padding-left: 0;
        }
        .right-column {
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            .loyalty-program-item {
                width: 100%;
                padding: 0;
            }
        }
        .loyalty-program-items {
            margin-top: 0;
        }
        .loyalty-program-item {
            margin-bottom: 13px;
        }
    }
    
    .packages-and-prices-section {
        padding: 55px 0 100px;
        .section-title {
            margin: 0 0 37px;
        }
        .packages-and-prices-text {
            margin: 12px 0 50px;
        }
    }
    
    .packages-and-prices-items {
        .packages-and-prices-item {
            width: 100%;
    
            .item-text {
                font-size: 16px;
            }
        }
        .packages-and-prices-item-helper {
            padding: 20px 10px 20px 18px;
        }
    }
    
    .contact-form-section {
        padding: 30px 20px 65px;
        flex-direction: column;
        margin: 0 -20px;
    }
}

@media screen and (max-width: 380px) {
    .application-design-wrap .application-design-image {
        min-height: 280px;
    }
}


/*Modal window*/
body.hidden {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-overflow-scrolling: touch;
    margin-right: 17px;
}
.modalOverlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 995;
    @include transition(.3s all);
    
    &.active{
        opacity: 1;
        visibility: visible;
    }
}
.modalWindow {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 997;
    padding: 30px;
    background-color: #fff;
    @include border-radius(8px);
    @include transition(.3s all);
    @include transform(translate(-50%, -50%));
    @include box-shadow(0 3px 10px -.5px rgba(0, 0, 0, .2));
    
    &.active{
        opacity: 1;
        visibility: visible;
    }
    
    @media screen and (max-width: 991px) {
        max-width: 90%;
    }
    
    @media screen and (max-width: 767px) {
        max-height: 80vh;
        height: 100%;
        padding: 30px 0 30px 30px;
    }
}

.modalClose {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #000000;
    cursor: pointer;
    @include transition(.3s all);
    &:hover {
        opacity: 0.5;
    }
}

.modalContent {
    .modalTitle {
        padding: 0;
        margin: 0 0 25px;
        font-weight: 700;
        line-height: 1.1;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.5px;
    }
    .modalText {
        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.6;
            color: #000000;
            margin-bottom: 10px;
        }
    }
    
    @media screen and (max-width: 767px) {
        overflow: auto;
        height: 100%;
        padding-right: 30px;
        .modalText {
            p {
                font-size: 16px;
            }
        }
    }
}